body{
    background-color : rgb(127, 228, 228);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1,h2{
    text-align:center;
    text-decoration: underline;
}
.container{
    margin: 10px;
    padding: 10px;
    background-color:aquamarine;
    border: 2px inset grey;
}
#position{
    color: red;
    color: orange;
    color: purple;
}

p.class1{
    color: darkgoldenrod;
}/*specificty: 1 + 10 = 11*/
.class1{
    color: white;
}/*specificity: 10*/
.class2{
    color: darkgreen;
}/*specificity: 10*/
.class3{
    color: darkblue;
}/*specificity: 10 */
/* #class{
    color: darkred;
} if i used the id selector then it would have override all classes  and element selector as it has a specificity of 100.*/
code{
    color: maroon;
 }

