body{
    background-color:black
}

.heading_video1,.heading_audio1{
       text-align: center;
       color: gold 
}

.heading_video2,.heading_audio2{
    text-align: center;
    color: violet
}


